<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Saída</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12" style="margin-bottom: 10px;">
            <form class="form-inline">
                <div class="form-group">
                    <label>Análise</label>
                    <select class="form-control" ng-model="saida" ng-change="consultarResultado(saida.analise.id)"
                            ng-options="key for (key , value) in saidas">
                        <option value="">-</option>
                    </select>
                    <label for="estado">Estado</label>
                    <select class="form-control" ng-model="estado"
                            ng-options="key for (key , value) in filtrarResultados(estados)" ng-change="cidades = estado">
                        <option value="">-</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="cidade">Cidade</label>
                    <select class="form-control" ng-model="cidade"
                            ng-options="key for (key, value) in filtrarResultados(cidades)" ng-change="objetos = cidade">
                        <option value="">-</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="objeto">Objeto</label>
                    <select class="form-control" ng-model="objeto"
                            ng-options="key for (key, value) in filtrarResultados(objetos)">
                        <option value="">-</option>
                    </select>
                </div>
                <button type="button" class="btn btn-success" ng-click="mostrarResultado()">Resultados</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    K-means
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="flot-chart">
                        <div class="flot-chart-content" id="chart-kmeans"></div>
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    LDA
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="flot-chart">
                        <div class="flot-chart-content" id="chart-lda"></div>
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-6 -->
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    DBSCAN
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="flot-chart">
                        <div class="flot-chart-content" id="chart-dbscan"></div>
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-6 -->
    </div>
    <!-- /.row -->
</div>
<!-- /#page-wrapper -->