<!DOCTYPE html>
<html lang="pt-br" ng-app="tcc">
<head>
    <meta charset="UTF-8">
    <title>TCC</title>
</head>
<body ng-controller="MainController">
    {{ teste }}
    <div id="chart_div" style="width: 900px; height: 500px;"></div>
</body>
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="static/app.js"></script>
</html>